*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: #fff;
}

.container{
  width: 600px;
  margin: 100px auto;
  background-color: #7950f2;
  padding: 50px;
}
#title{
  text-align: center;
  margin-bottom: 20px;
}
#description{
  margin-bottom: 10px;
}
#name,
#email,
#number,
#dropdown{
  margin-bottom: 10px;
  width: 450px;
  height: 25px;
  border-radius: 5px;
  border: none;
  display: block;
}
#name::placeholder,
#email::placeholder,
#number::placeholder{
  padding-left: 5px;
}
.radio-btn{
  margin: 10px 25px 20px 0;
}
.check{
  margin-top: 10px;
}
#text{
  width: 450px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
#submit{
  display: block;
  width: 450px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0ca678;
  margin-top: 10px;
}
#submit:hover{
  cursor: pointer;
  background-color: #087f5b;
}